<h1>Hello <%= @recipient_name%>,</h1>

<p><%= @user_name%> would like you to join them on their new habit: <%= @habit_name%></p>

<p>They are planning on working on the habit from <%= @start_date%> to <%= @end_date%></p>

<p>If you would like to accept, please click here: <%= @accept_invite_url%></p>