<h1>Hello <%= @recipient_name%>,</h1>

<p><%= @user_name%> would like you to join them on their new habit: <%= @habit_name%></p>

<p>They are planning on working on the habit from <%= @start_date%> to <%= @end_date%></p>

<p>If you would like to view the invitation, please create an account with the email address this message was sent to.</p>

<a href="http://stick-to-it-ui.herokuapp.com/create-account">Go to Create an Account Screen</a>